USE [Huichuan_Smart]
GO
/****** Object:  Table [dbo].[sys_login_log]    Script Date: 2026/7/5 21:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_login_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[account] [nvarchar](50) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[is_success] [bit] NOT NULL,
	[fail_reason] [nvarchar](200) NOT NULL,
	[login_time] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_sys_login_log_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_menu]    Script Date: 2026/7/5 21:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_menu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[menu_name] [nvarchar](50) NOT NULL,
	[menu_code] [nvarchar](50) NOT NULL,
	[parent_id] [bigint] NOT NULL,
	[path] [nvarchar](200) NULL,
	[sort] [int] NOT NULL,
	[menu_type] [tinyint] NOT NULL,
	[status] [tinyint] NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NULL,
	[create_by] [nvarchar](50) NULL,
	[update_by] [nvarchar](50) NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_sys_menu_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_role]    Script Date: 2026/7/5 21:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_role](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[role_code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](200) NOT NULL,
	[sort] [int] NOT NULL,
	[status] [tinyint] NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NULL,
	[create_by] [nvarchar](50) NULL,
	[update_by] [nvarchar](50) NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_sys_role_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_role_menu]    Script Date: 2026/7/5 21:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_role_menu](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [bigint] NOT NULL,
	[menu_id] [bigint] NOT NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NULL,
	[create_by] [nvarchar](50) NULL,
	[update_by] [nvarchar](50) NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_sys_role_menu_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_user]    Script Date: 2026/7/5 21:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [bigint] NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](200) NOT NULL,
	[real_name] [nvarchar](50) NOT NULL,
	[phone_number] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[status] [tinyint] NOT NULL,
	[failed_login_attempts] [int] NOT NULL,
	[lockout_end_time] [datetime2](7) NULL,
	[last_login_time] [datetime2](7) NULL,
	[create_time] [datetime2](7) NOT NULL,
	[update_time] [datetime2](7) NULL,
	[create_by] [nvarchar](50) NULL,
	[update_by] [nvarchar](50) NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_sys_user_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[sys_login_log] ON 

INSERT [dbo].[sys_login_log] ([id], [account], [user_id], [is_success], [fail_reason], [login_time]) VALUES (1, N'admin', 1, 1, N'登录成功', CAST(N'2026-07-03T03:41:33.9166667' AS DateTime2))
INSERT [dbo].[sys_login_log] ([id], [account], [user_id], [is_success], [fail_reason], [login_time]) VALUES (2, N'admin', 1, 1, N'登录成功', CAST(N'2026-07-03T03:44:32.6900000' AS DateTime2))
INSERT [dbo].[sys_login_log] ([id], [account], [user_id], [is_success], [fail_reason], [login_time]) VALUES (3, N'admin', 1, 0, N'密码错误（第 1 次）', CAST(N'2026-07-03T03:51:45.5666667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[sys_login_log] OFF
GO
SET IDENTITY_INSERT [dbo].[sys_menu] ON 

INSERT [dbo].[sys_menu] ([id], [menu_name], [menu_code], [parent_id], [path], [sort], [menu_type], [status], [create_time], [update_time], [create_by], [update_by], [is_deleted]) VALUES (1, N'主页', N'home', 0, N'/home', 1, 2, 0, CAST(N'2026-07-03T15:50:08.9433333' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[sys_menu] ([id], [menu_name], [menu_code], [parent_id], [path], [sort], [menu_type], [status], [create_time], [update_time], [create_by], [update_by], [is_deleted]) VALUES (2, N'生产管理', N'production', 0, NULL, 2, 1, 0, CAST(N'2026-07-03T15:50:08.9433333' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[sys_menu] ([id], [menu_name], [menu_code], [parent_id], [path], [sort], [menu_type], [status], [create_time], [update_time], [create_by], [update_by], [is_deleted]) VALUES (3, N'生产计划', N'production_plan', 2, N'/production/plan', 1, 2, 0, CAST(N'2026-07-03T15:50:08.9466667' AS DateTime2), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[sys_menu] OFF
GO
SET IDENTITY_INSERT [dbo].[sys_role] ON 

INSERT [dbo].[sys_role] ([id], [role_name], [role_code], [description], [sort], [status], [create_time], [update_time], [create_by], [update_by], [is_deleted]) VALUES (1, N'超级管理员', N'admin', N'拥有系统全部权限', 1, 0, CAST(N'2026-07-03T15:50:09.0200000' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[sys_role] ([id], [role_name], [role_code], [description], [sort], [status], [create_time], [update_time], [create_by], [update_by], [is_deleted]) VALUES (2, N'生产主管', N'production_manager', N'管理生产计划、工单、派工及质量', 2, 0, CAST(N'2026-07-03T15:50:09.0200000' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[sys_role] ([id], [role_name], [role_code], [description], [sort], [status], [create_time], [update_time], [create_by], [update_by], [is_deleted]) VALUES (3, N'质检员', N'quality_inspector', N'来料检验、过程检验、出货检验', 3, 0, CAST(N'2026-07-03T15:50:09.0200000' AS DateTime2), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[sys_role] OFF
GO
SET IDENTITY_INSERT [dbo].[sys_role_menu] ON 

INSERT [dbo].[sys_role_menu] ([id], [role_id], [menu_id], [create_time], [update_time], [create_by], [update_by], [is_deleted]) VALUES (1, 1, 1, CAST(N'2026-07-03T16:14:46.6033333' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[sys_role_menu] ([id], [role_id], [menu_id], [create_time], [update_time], [create_by], [update_by], [is_deleted]) VALUES (2, 1, 2, CAST(N'2026-07-03T16:14:46.6033333' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[sys_role_menu] ([id], [role_id], [menu_id], [create_time], [update_time], [create_by], [update_by], [is_deleted]) VALUES (3, 1, 3, CAST(N'2026-07-03T16:14:46.6033333' AS DateTime2), NULL, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[sys_role_menu] OFF
GO
SET IDENTITY_INSERT [dbo].[sys_user] ON 

INSERT [dbo].[sys_user] ([id], [role_id], [user_name], [password_hash], [real_name], [phone_number], [email], [status], [failed_login_attempts], [lockout_end_time], [last_login_time], [create_time], [update_time], [create_by], [update_by], [is_deleted]) VALUES (1, 1, N'admin', N'$2b$10$MjicjDVOGfCuGg.C1t0xKeFV2o6aUJO4bV0J.wwCr2KQQ4/UP56KG', N'系统管理员', N'13800000000', N'admin@huichuan.com', 0, 0, NULL, CAST(N'2026-07-05T13:13:22.4000000' AS DateTime2), CAST(N'2026-07-03T15:50:09.0900000' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[sys_user] ([id], [role_id], [user_name], [password_hash], [real_name], [phone_number], [email], [status], [failed_login_attempts], [lockout_end_time], [last_login_time], [create_time], [update_time], [create_by], [update_by], [is_deleted]) VALUES (2, 8, N'hebiao', N'$2a$11$5do7R2hpHOUFuULZOJgWSego1Zo7H/K9xFUWHlHNPBryRQyMzFQZy', N'何彪', N'13487462629', N'3610074121@qq.com', 2, 5, CAST(N'2026-07-05T13:42:03.9466667' AS DateTime2), CAST(N'2026-07-05T13:10:58.1100000' AS DateTime2), CAST(N'2026-07-03T07:59:24.1866667' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[sys_user] ([id], [role_id], [user_name], [password_hash], [real_name], [phone_number], [email], [status], [failed_login_attempts], [lockout_end_time], [last_login_time], [create_time], [update_time], [create_by], [update_by], [is_deleted]) VALUES (3, 8, N'lzj', N'$2a$11$w6tPPpixMEYnxL7p.qAQcOSDtjHNr8hfJ5dLZyLqJJTPvB3J/PYWq', N'hb', N'13487567656', N'3610074121@qq.com', 0, 0, NULL, NULL, CAST(N'2026-07-05T07:43:19.6200000' AS DateTime2), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[sys_user] OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_login_log', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录账号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_login_log', @level2type=N'COLUMN',@level2name=N'account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户ID（账号不存在时记为0）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_login_log', @level2type=N'COLUMN',@level2name=N'user_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否登录成功' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_login_log', @level2type=N'COLUMN',@level2name=N'is_success'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'失败原因（成功时为空）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_login_log', @level2type=N'COLUMN',@level2name=N'fail_reason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_login_log', @level2type=N'COLUMN',@level2name=N'login_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'menu_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单标识（前端权限判断用，如 system_user）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'menu_code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级菜单ID，0=顶级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'parent_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'前端路由（如 /system/user），目录可为空' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'path'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'sort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单类型：1=目录, 2=菜单' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'menu_type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态：0=启用, 1=停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'create_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'update_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'create_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'update_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否逻辑删除：0=正常, 1=已删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_menu', @level2type=N'COLUMN',@level2name=N'is_deleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role', @level2type=N'COLUMN',@level2name=N'role_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色标识（代码判断用，如 admin/operator）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role', @level2type=N'COLUMN',@level2name=N'role_code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role', @level2type=N'COLUMN',@level2name=N'description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role', @level2type=N'COLUMN',@level2name=N'sort'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态：0=启用, 1=停用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role', @level2type=N'COLUMN',@level2name=N'create_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role', @level2type=N'COLUMN',@level2name=N'update_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role', @level2type=N'COLUMN',@level2name=N'create_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role', @level2type=N'COLUMN',@level2name=N'update_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否逻辑删除：0=正常, 1=已删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role', @level2type=N'COLUMN',@level2name=N'is_deleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role_menu', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色ID，关联 sys_role.id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role_menu', @level2type=N'COLUMN',@level2name=N'role_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'菜单ID，关联 sys_menu.id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role_menu', @level2type=N'COLUMN',@level2name=N'menu_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role_menu', @level2type=N'COLUMN',@level2name=N'create_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role_menu', @level2type=N'COLUMN',@level2name=N'update_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role_menu', @level2type=N'COLUMN',@level2name=N'create_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role_menu', @level2type=N'COLUMN',@level2name=N'update_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否逻辑删除：0=正常, 1=已删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_role_menu', @level2type=N'COLUMN',@level2name=N'is_deleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色ID，关联 sys_role.id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'role_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户名（工号，登录账号）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'user_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密码哈希（BCrypt）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'password_hash'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'真实姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'real_name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'phone_number'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮箱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态：0=正常, 1=停用, 2=锁定' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'连续登录失败次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'failed_login_attempts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'账号锁定截止时间（null=未锁定）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'lockout_end_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后登录时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'last_login_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'create_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'update_time'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'create_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'update_by'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否逻辑删除：0=正常, 1=已删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sys_user', @level2type=N'COLUMN',@level2name=N'is_deleted'
GO
